<div class="row">
  <div class="col-6 col-12-medium">
    <ul class="actions">

      <li><a routerLink="project" [ngClass]="activeProject" (click)="changeMenu(1)">Add Project</a></li>
      <li><a routerLink="task" [ngClass]="activeTask" (click)="changeMenu(2)">Add Task</a></li>
      <li><a routerLink="user" [ngClass]="activeUser" (click)="changeMenu(3)">Add User</a></li>
      <li><a routerLink="viewtask" [ngClass]="activeViewTask" (click)="changeMenu(4)">View Task</a></li>
    </ul>
  </div>

</div>

<router-outlet></router-outlet>